.burgerConstructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding: 16px;
	border-radius: 40px;
}

.selectedIngredients {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 324px);
	margin-bottom: 40px;
}

.bunElement {
	display: flex;
	align-items: center;
	gap: 8px;
	box-sizing: border-box;
	width: 100%;
	padding-right: 24px;
}

.fakeDrag {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
	opacity: 0;
}

.mainElements {
	display: flex;
	flex-direction: column;
	gap: 8px;
	box-sizing: border-box;
	width: 100%;
	max-height: calc(100vh - 536px);
	padding-right: 8px;
	overflow-y: auto;
}

.mainElement {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.bunElement > div:last-child,
.mainElement > div:last-child {
	flex-grow: 1;
	width: 100%;
	max-width: 536px;
}

.totalSection {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	margin-top: 40px;
}

.totalPrice {
	display: flex;
	align-items: center;
	gap: 8px;
}
