.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #f2f2f3;
	background-color: #131316;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
	margin-top: 40px;
}
