.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.title {
	align-self: center;
	margin-bottom: 0;
}

.image {
	width: 480px;
	height: 240px;
	object-fit: contain;
}

.name {
	margin: 16px 0 32px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
}

.nutritionalInfo {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}

.nutrient {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.nutrientName {
	margin-bottom: 8px;
	color: #8585ad;
	font-size: 16px;
	line-height: 1.5;
}

.nutrientValue {
	font-size: 28px;
	line-height: 1.2;
}

.nutritionContainer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	margin-bottom: 60px;
}

.nutritionItem {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}
